@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  width: 100vw;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
}

body a{
  position: absolute;
  bottom: 0;
  left: 40vw;
}
